@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/Nunito/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/Nunito/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .container .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container .container {
    max-width: none;
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.btn {
  color: #fff;
  padding: 18px 25px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .btn {
    padding: 14px 14px;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  overflow: visible;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px 0;
}

@media (max-width: 576px) {
  .header {
    height: 54px;
  }
}

@media (max-width: 576px) {
  .header__logo {
    margin-right: 20px;
  }
}

.header__logo img {
  max-width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-login__btn {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  text-align: center;
  background-color: #99c50a;
  border-radius: 20px;
  padding: 9px 0;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.header-login__btn:hover {
  background-color: #89af0c;
}

@media (max-width: 992px) {
  .header-login__btn {
    margin-left: auto;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .nav {
    position: fixed;
    font-size: 18px;
    top: -500px;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-transition: top .5s ease;
    transition: top .5s ease;
    z-index: 10;
  }
}

@media (max-width: 992px) {
  .nav--active {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    top: 80px;
    left: 0;
    opacity: 1;
    background-color: #fff;
  }
}

@media (max-width: 576px) {
  .nav--active {
    top: 53px;
  }
}

.nav--active.nav__link {
  position: relative;
  color: #666;
}

.nav--active.nav__link::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 1px;
  margin-bottom: 20px;
  background-color: #666;
}

@media (max-width: 992px) {
  .nav--active .nav__link {
    position: relative;
    color: #666;
  }
  .nav--active .nav__link::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 16px;
    height: 1px;
    margin-bottom: 20px;
    background-color: #666;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .nav__list {
    display: block;
  }
}

.nav__item {
  margin-bottom: 20px;
}

.nav__item:not(:first-child) {
  margin-left: 28px;
}

@media (max-width: 992px) {
  .nav__item:not(:first-child) {
    margin-left: 0;
  }
}

.nav__link {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  color: #666;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.nav__link:hover {
  color: #000;
}

@media (max-width: 992px) {
  .nav__link::after {
    display: none;
  }
}

.nav__link.nav__link--active {
  color: #fff;
}

.header-login__btn > span {
  font-size: 14px;
  color: #fff;
}

.nav-toggle {
  display: none;
  background-color: transparent;
  padding: 10px 0;
}

@media (max-width: 992px) {
  .nav-toggle {
    display: block;
  }
}

@media (max-width: 992px) {
  .nav-toggle__item {
    display: block;
    position: relative;
    width: 32px;
    height: 4px;
    font-size: 0;
    background-color: #414141;
  }
  .nav-toggle__item::before, .nav-toggle__item::after {
    content: "";
    width: 32px;
    height: 4px;
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #414141;
    -webkit-transition: top .2s linear .2s, -webkit-transform  .2s ease-in;
    transition: top .2s linear .2s, -webkit-transform  .2s ease-in;
    transition: transform  .2s ease-in, top .2s linear .2s;
    transition: transform  .2s ease-in, top .2s linear .2s, -webkit-transform  .2s ease-in;
  }
  .nav-toggle__item::after {
    top: 10px;
  }
}

@media (max-width: 992px) {
  .nav-toggle--active .nav-toggle__item {
    background-color: transparent;
  }
  .nav-toggle--active .nav-toggle__item::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  }
  .nav-toggle--active .nav-toggle__item::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  }
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
}

.popup {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
}

@media (max-width: 767px) {
  .popup {
    width: 100%;
    height: 100vh;
    font-size: 15px;
  }
}

.popup > label {
  display: block;
  margin-bottom: 10px;
}

.popup > input {
  width: 100%;
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  border: thin solid #c5c5c5;
}

.popup__btn {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #99c50a;
  border-radius: 20px;
  padding: 9px 0;
  margin-right: 20px;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.popup__btn:hover {
  background-color: #89af0c;
}

@media (max-width: 567px) {
  .popup__btn {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.popup__btn-wrapper {
  margin-top: 40px;
}

.popup__btn-wrapper > a {
  display: inline-block;
  color: #666;
  text-decoration: underline;
}

.popup__btn-wrapper > a:hover {
  color: #414141;
}

.close-popup {
  font-size: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #414141;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #414141;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mainblock {
  position: relative;
}

.mainblock__title-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.mainblock__title {
  font-size: 48px;
  margin-bottom: 10px;
}

.mainblock__subtitle {
  font-size: 34px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .mainblock__subtitle {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .mainblock__subtitle {
    font-size: 24px;
  }
}

.mainblock__btn {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  background-color: #99c50a;
  padding: 16px 20px;
  border-radius: 8px;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.mainblock__btn:hover {
  background-color: #89af0c;
}

@media (max-width: 767px) {
  .mainblock__btn {
    font-size: 14px;
    padding: 12px 18px;
  }
}

.slider {
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 1;
}

.slider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #425948;
  opacity: 0.3;
  z-index: 0;
}

.slider__item {
  height: 500px;
}

@media (max-width: 576px) {
  .slider__item {
    height: 426px;
  }
}

.owl-dots {
  display: none;
}

.owl-nav {
  position: absolute;
  bottom: 0;
  right: 10%;
  color: #fff;
  z-index: 1;
}

.owl-prev {
  margin-right: 40px;
}

.owl-prev span,
.owl-next span {
  font-size: 80px;
}

@media (max-width: 576px) {
  .owl-prev span,
  .owl-next span {
    font-size: 50px;
  }
}

.capabilities {
  padding: 94px 0;
}

@media (max-width: 576px) {
  .capabilities {
    padding: 50px 0;
  }
}

.capabilities-header {
  text-align: center;
}

.capabilities-header__img {
  margin-bottom: 48px;
}

@media (max-width: 576px) {
  .capabilities-header__img {
    margin-bottom: 30px;
  }
}

.capabilities-header__title {
  color: #414141;
  margin-bottom: 58px;
}

@media (max-width: 576px) {
  .capabilities-header__title {
    margin-bottom: 40px;
  }
}

.capabilities-header__text {
  font-size: 18px;
  margin-bottom: 48px;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

.tabs__items::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -14px;
  background-color: #666;
}

@media (max-width: 576px) {
  .tabs__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 50px;
  }
}

.tabs-item {
  font-size: 32px;
  font-weight: 300;
  color: #666;
  position: relative;
}

.tabs-item.active::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: -14px;
  background-color: #99c50a;
}

.tabs-item.active .tabs-item__number {
  background-color: #99c50a;
}

.tabs-item__number {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #414141;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .tabs-item__number {
    display: none;
  }
}

@media (max-width: 576px) {
  .tabs-item__number {
    display: block;
  }
}

@media (max-width: 576px) {
  .tabs-item__text {
    display: none;
  }
}

.tabs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .tabs__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.tabs__img {
  margin-right: 104px;
  margin-left: 90px;
}

@media (max-width: 767px) {
  .tabs__img {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 576px) {
  .tabs__img {
    margin-bottom: 20px;
  }
}

.tabs__img img {
  max-width: 113px;
}

@media (max-width: 576px) {
  .tabs__img img {
    max-width: 80px;
  }
}

.tabs__title {
  font-size: 24px;
  color: #99c50a;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .tabs__title {
    margin-bottom: 20px;
  }
}

.tabs__text {
  font-size: 18px;
  color: #414141;
}

@media (max-width: 576px) {
  .find .container {
    padding: 0;
  }
}

.find__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .find__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.find-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff3e7;
  padding: 46px 66px 70px;
}

@media (max-width: 576px) {
  .find-item {
    display: block;
    text-align: center;
  }
}

.find-item:first-child {
  background-color: #e2f8ff;
}

.find-item__img {
  margin-right: 36px;
}

@media (max-width: 576px) {
  .find-item__img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.find-item__img img {
  width: 130px;
  height: 110px;
}

.find-item__title {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #414141;
  margin-bottom: 34px;
}

.find-item__text {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.find-item__btn {
  background-color: #26a6d1;
}

.projects {
  padding: 80px 0;
}

@media (max-width: 576px) {
  .projects {
    padding: 40px 0 20px;
  }
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .projects-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects-header__column {
  max-width: 680px;
}

@media (max-width: 992px) {
  .projects-header__column {
    max-width: 80%;
    text-align: center;
  }
}

.projects-header__title {
  font-size: 30px;
  font-weight: 600;
  color: #414141;
  margin-bottom: 20px;
}

.projects-header__text {
  color: #666;
  font-size: 18px;
}

@media (max-width: 990px) {
  .projects-header__text {
    margin-bottom: 40px;
  }
}

.find-item__btn {
  color: #666;
  background-color: transparent;
  border: 1px solid #666;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.find-item__btn:hover {
  color: #fff;
  background-color: #26a6d1;
  border: 0;
  padding: 19px 26px;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .projects-content {
    display: block;
  }
}

.projects-content__item {
  width: 33.3333%;
  border: 1px solid #eff3e7;
  background-color: #f9f9f9;
}

@media (max-width: 767px) {
  .projects-content__item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.projects-content__item:not(:first-child) {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .projects-content__item:not(:first-child) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.projects-content__img {
  position: relative;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden;
}

.projects-content__img:hover {
  -webkit-box-shadow: 1px 1px #99c50a, 2px 2px #99c50a, 3px 3px #99c50a, 4px 4px #99c50a, 5px 5px #99c50a, 6px 6px #99c50a, 7px 7px #99c50a;
          box-shadow: 1px 1px #99c50a, 2px 2px #99c50a, 3px 3px #99c50a, 4px 4px #99c50a, 5px 5px #99c50a, 6px 6px #99c50a, 7px 7px #99c50a;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

.projects-content__img img {
  display: block;
  width: 100%;
}

.projects-content__btn {
  position: absolute;
  top: 72%;
  left: 46%;
  width: 140px;
  height: 25px;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

@media (max-width: 992px) {
  .projects-content__btn {
    top: 75%;
    left: 44%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 767px) {
  .projects-content__btn {
    top: 82%;
    left: 70%;
    -webkit-transform: translate(-48%, -30%);
            transform: translate(-48%, -30%);
  }
}

.projects-content__btn a {
  padding: 12px 8px;
  background-color: #26a6d1;
}

.projects-content__img:hover .projects-content__btn {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.projects-content__info {
  padding: 28px 24px;
}

.projects-content__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects-content__text {
  color: #666;
  margin-bottom: 20px;
}

.projects-content__progress {
  position: relative;
  width: 100%;
  height: 14px;
  font-size: 0;
  background-color: #eff3e7;
  border-radius: 8px;
  margin-bottom: 20px;
}

.projects-content__progress::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 0%;
  height: 14px;
  background-color: #99c50a;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.progress-one::after {
  width: 30%;
}

.progress-two::after {
  width: 60%;
}

.progress-three::after {
  width: 90%;
}

.progress-info {
  font-weight: 600;
  color: #666;
  margin-bottom: 20px;
}

.projects-content__details a {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.projects-content__details a:hover {
  color: #000;
}

.projects-content__details a::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -30px;
  display: block;
  width: 12px;
  height: 17px;
  border: 10px solid transparent;
  border-left: 10px solid #99c50a;
}

.projects-content__details {
  position: relative;
  text-align: right;
  margin-right: 50px;
}

.community {
  background: url(../img/community/community-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  padding: 60px 0;
}

.community::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  opacity: 0.06;
  z-index: 0;
}

@media (max-width: 576px) {
  .community {
    padding: 30px 0px 0px;
  }
}

.community__wrapper {
  position: relative;
  z-index: 100;
}

.community-header {
  text-align: center;
  margin-bottom: 96px;
}

@media (max-width: 576px) {
  .community-header {
    margin-bottom: 40px;
  }
}

.community-header__title {
  color: #99c50a;
  margin-bottom: 48px;
}

@media (max-width: 576px) {
  .community-header__title {
    margin-bottom: 30px;
  }
}

.community-header__text {
  font-size: 18px;
  color: #666;
}

.community-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .community-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992px) {
  .community-content__item {
    margin-bottom: 40px;
  }
}

.community-content__comment {
  position: relative;
  max-width: 400px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 26px 36px;
  margin-bottom: 36px;
}

.community-content__comment:after {
  content: "";
  display: block;
  width: 30px;
  position: absolute;
  bottom: -14px;
  border: 15px solid transparent;
  border-right: 15px solid #f9f9f9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.community-content__title {
  font-size: 22px;
  font-weight: 600;
  color: #99c50a;
  margin-bottom: 24px;
}

.community-content__text {
  color: #666;
}

.community-content__persone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community-content__persone img {
  margin-right: 16px;
}

.community-content__persone span {
  font-family: 'Montserrat, sans-serif';
  font-weight: bold;
  font-size: 16px;
  color: #414141;
}
/*# sourceMappingURL=style.css.map */