*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 992px) {
        .container {
            max-width: 750px; } }

    @media (max-width: 767px) {
        .container {
            max-width: none; } }
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none
}

.btn {
    color: $white;
    padding: 18px 22px;
    border-radius: 10px;

    @media (max-width: 576px) {
        padding: 14px 14px;
    }
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    overflow: visible;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}