// colors

$white: #fff;
$white-gray: #f9f9f9;
$black: #000;
$green: #99c50a;
$green-light: #bff109;
$green-dark: #89af0c;
$gray: #666;
$gray-light: #eff3e7;
$gray-dark: #414141;
$blue: #26a6d1;
$blue-ligth: #e2f8ff;

// ======================================