.find .container {
    @media (max-width: 576px) {
        padding: 0;
    }
}

.find__wrapper {
    display: flex;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}

.find-item {
    display: flex;
    align-items: center;
    background-color: $gray-light;
    padding: 46px 66px 70px;

    @media (max-width: 576px) {
        display: block;
        text-align: center;
    }
}

.find-item:first-child {
    background-color: $blue-ligth;
}


.find-item__img {
    margin-right: 36px;

    @media (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.find-item__img img {
    width: 130px;
    height: 110px;
}

.find-item__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: $gray-dark;
    margin-bottom: 34px;
}

.find-item__text {
    font-size: 18px;
    color: $gray;
    margin-bottom: 40px;
}

.find-item__btn {
    background-color: $blue;
}