.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 0;

    @media (max-width: 576px) {
        height: 54px;
    }
}
.header__logo {
    @media (max-width: 576px) {
        margin-right: 20px;
    }
}

.header__logo img {
    max-width: 100%;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.header-login__btn {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    text-align: center;
    background-color: $green;
    border-radius: 20px;
    padding: 9px 0;
    transition: .2s background-color linear;

    &:hover {
        background-color: $green-dark;
    }

    @media (max-width: 992px) {
        margin-left: auto;
        margin-right: 20px;
    }
}

.nav {
    @media (max-width: 992px) {
        position: fixed;
        font-size: 18px;
        top: -500px;
        left: 0;
        width: 100%;
        background-color: $white;
        transition: top .5s ease;
        z-index: 10;
    }
}

.nav--active {
    @media (max-width: 992px) {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        top: 80px;
        left: 0;
        opacity: 1;
        background-color: $white;
    }

    @media (max-width: 576px) {
        top: 53px;
    }
}

.nav--active.nav__link {
    position: relative;
    color: $gray;

    &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 16px;
        height: 1px;
        margin-bottom: 20px;
        background-color: $gray;
    }
}

.nav--active .nav__link {

    @media (max-width: 992px) {
        position: relative;
        color: $gray;

        &::before {
            content: "";
            display: block;
            margin: 0 auto;
            width: 16px;
            height: 1px;
            margin-bottom: 20px;
            background-color: $gray;
        }
    }
}

.nav__list {
    display: flex;
    text-align: center;
    margin-top: 20px;

    @media (max-width: 992px) {
        display: block;
    }
}

.nav__item {
    margin-bottom: 20px;

    &:not(:first-child) {
        margin-left: 28px;
    }

    @media (max-width: 992px) {
        &:not(:first-child) {
            margin-left: 0;
        }
    }
}

.nav__link {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    color: $gray;
    transition: color .3s linear;

    &:hover {
        color: $black;
    }

    @media (max-width: 992px) {
        &::after {
            display: none;
        }
    }
}

.nav__link.nav__link--active {
    color: $white;
}

.header-login__btn > span {
    font-size: 14px;
    color: $white;
}
.nav-toggle {
    display: none;
    background-color: transparent;
    padding: 10px 0;

    @media (max-width: 992px) {
        display: block;
    }
}

.nav-toggle__item {
    @media (max-width: 992px) {
        display: block;
        position: relative;
        width: 32px;
        height: 4px;
        font-size: 0;
        background-color: $gray-dark;
    
        &::before,
        &::after {
            content: "";
            width: 32px;
            height: 4px;
            position: absolute;
            top: -10px;
            left: 0;
            background-color: $gray-dark;
            transition: transform  .2s ease-in, top .2s linear .2s;
        }
        
        &::after {
            top: 10px;
        } 
    }
}

.nav-toggle--active .nav-toggle__item {
    @media (max-width: 992px) {
        background-color: transparent;

        &::before {
            top: 0;
            transform: rotate(45deg);
            transition: top .2s linear, transform .2s ease-in .2s;
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
            transition: top .2s linear, transform .2s ease-in .2s;
        }
    }
}

// popup

.popup-overlay {
    position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
    display: none;
    z-index: 100;
}

.popup {
    position: absolute;
	width: 500px;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 40px;
    
    @media (max-width: 767px) {
        width: 100%;
		height: 100vh;
		font-size: 15px;
    }
}

.popup > label {
    display: block;
    margin-bottom: 10px;
}

.popup > input {
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    border: thin solid #c5c5c5;
}

.popup__btn {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    text-align: center;
    color: $white;
    background-color: $green;
    border-radius: 20px;
    padding: 9px 0;
    margin-right: 20px;
    transition: .2s background-color linear;

    &:hover {
        background-color: $green-dark;
    }

    @media (max-width: 567px) {
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

.popup__btn-wrapper {
    margin-top: 40px;
}

.popup__btn-wrapper > a {
    display: inline-block;
    color: $gray;
    text-decoration: underline;

    &:hover {
        color: $gray-dark;
    }
}

.close-popup {
    font-size: 0;
    position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: $gray-dark;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: $gray-dark;
	position: absolute;
	height: 1px;
	width: 31px;
    top: 11px;
    left: -4px;
	transform: rotate(45deg);
}